.contact-section {
    padding: 40px;
    background-color: var(--stone-100);
    justify-content: center;
    text-align: center;
}

.dark-theme .contact-section {
    background-color: var(--stone-800);
    color: #fff;
}

.contact-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact-section .subtitle {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.contact-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    max-width: 80vh;
    box-sizing: border-box;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--stone-300);
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form textarea {
    max-height: 200px;
    min-height: 50px;
    resize: vertical;
    overflow-y: auto;
}

.contact-form button {
    background-color: var(--brand);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.light-theme .contact-form button {
    background-color: var(--brand);
}

.contact-form button:hover {
    background-color: #00501f;
}

.contact-info {
    margin-top: 20px;
    font-size: 1rem;
}

.contact-info a {
    color: var(--btn-background);
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-section {
    button:focus,
    input:focus,
    textarea:focus {
        outline: 3px solid #00ffcc;
        outline-offset: 2px;
    }
}

@media (max-width: 768px) {
    .contact-form {
        max-width: 600px;
    }
}
