header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
}

header nav {
    display: flex;
    flex-direction: row;

    padding: 10px 30px 10px 30px;

    justify-content: space-between;

    background: #216ad9;
}

#header-left-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
}

#header-right-buttons {
    display: flex;
    gap: 20px;
}

.side-menu-container {
    display: none;
}

.grouped-buttons {
    gap: 10px;
    display: flex;
    align-items: center;
}

.grouped-buttons button {
    all: unset;
    -webkit-user-select: none;
    user-select: none;
    font-weight: 500;
    font-size: medium;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 20px;
    padding: 4px 15px;
    min-width: 50px;


    cursor: pointer;
    color: white;


    &:hover {
        scale: 1.05;
        text-decoration: underline;
    }
}

.dark-theme .grouped-buttons button {
    color: white;
}

.dark-theme .grouped-buttons button:hover {
    background-color: var(--stone-700);
}

.grouped-buttons button.active,
.grouped-buttons button:active {
    color: var(--brand-light);
}

@media (max-width: 850px) {
    .grouped-buttons {
        display: none;
    }
    header nav {
        padding: 10px 20px 10px 20px;
        align-items: center;
    }
    
    #header-left-buttons {
        gap: 5px;
        color: white;
    }

    .side-menu-container {
        display: flex;
    }
}
